[submodule "Grafix/vendor/imgui"]
	path = Grafix/vendor/imgui
	url = https://github.com/ycshao21/imgui.git
[submodule "Grafix/vendor/glfw"]
	path = Grafix/vendor/glfw
	url = https://github.com/ycshao21/glfw.git
[submodule "Grafix/vendor/spdlog"]
	path = Grafix/vendor/spdlog
	url = https://github.com/gabime/spdlog.git
